<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Doctor's Appointment</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Notable</h1>
    <h4>Copyright: Sriram Narayanan</h4>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>